[submodule "src/libs"]
	path = src/libs
	url = https://gitlab.exworth.group/exworth/exw-libs.git
[submodule "src/core/card"]
	path = src/core/card
	url = https://gitlab.exworth.group/exworth/exw-libs-card.git
