svg {
  vertical-align: initial;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-text:hover {
  color: var(--ex-primary-color);
}


.text-plus::before {
  content: "+";
  margin-right: 2px;
}

.text-minus::before {
  content: "-";
  margin-right: 2px;
}