svg {
  vertical-align: initial;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-text:hover {
  color: var(--ex-primary-color);
}


.text-plus::before {
  content: "+";
  margin-right: 4px;
  /* 添加一些间距，使其与按钮分开 */
}

.text-minus::before {
  content: "-";
  margin-right: 4px;
  /* 添加一些间距，使其与按钮分开 */
}